h1 {
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
}

button:hover {
    background-color: black !important;
    color: #fff;
}

button {
    background-color: #00ffff;
    outline: none;
    border: none;
    height: 50px;
    width: 5vh;
}

body {
    background-image:linear-gradient(to bottom left, rgb(70, 130, 132), rgb(30, 144, 255) ) !important;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.bdy {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #292929;
    height: 22vh;
    width: 20vh;

}
td {
    padding: 10px;
    font-size: larger;
    font-weight: 900;
}

.display {
    position: relative;
    
}

.bdy1 {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20vh;

}